body {
  background-color: rgb(81, 180, 216);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
header {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

#chat-container {
  background-color: white;
  height: 80vh;
  width: 70vw;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}
.input-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  gap: 10px;
}
#user-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
#user-input:focus {
  outline: none;
  border-color: rgb(51, 150, 186);
}
#send-button {
  background-color: rgb(51, 150, 186);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
}
#send-button:hover {
  background-color: rgb(13, 123, 163);
}
#send-button:active {
  background-color: rgb(66, 155, 187);
}
#user-input,
#send-button {
  font-size: 1.5rem;
}
.bot-container,
.user-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
.bot-icon,
.user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.bot-icon {
  background-color: rgb(51, 150, 186);
}
.user-icon {
  background-color: #4ad637;
}
.bot-message,
.user-message {
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 1.5rem;
}
.bot-message {
  background-color: rgb(51, 150, 186);
}
.user-message {
  background-color: #4ad637;
}

.user-container {
  justify-content: flex-end;
}
.chat-box {
  height: 80%;
  overflow-y: auto;
}
